body {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2.5px;
}

#title {
    font-size: 4rem;
    margin: 5%;
}

.gameText {
    font-size: 3.5rem;
    margin: 5%;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 30px;
    display: inline-block;
    height: 250px;
    width: 250px;
    border: 6px solid black;
    border-radius: 60%;
}