body {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2.5px;
    background-image: url('../img/bikini-bottom.jpeg');
}

#title {
    font-size: 4rem;
    margin-top: 3%;
}

/* interactive game components */

.gameContainer {
    display: inline-block;
    margin: 4rem;
    width: 60vw;
    background-color: green ;
    border: 6px solid rgb(58, 52, 52);
    border-radius: 15%;
}

.btn {
    margin: 0.5rem;
    display: inline-block;
    height: 28vh;
    width: 17vw;
    border: 6px solid black;
    border-radius: 60%;
}

/* instructions */

.instructions {
    margin: auto;
    display: inline-block;
    width: 50%;
    height: 15%;
    padding: 1rem;
    background-color: yellow ;
    border: 6px solid rgb(58, 52, 52);
    border-radius: 15%;
}

/* Colours */
.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.lightblue {
    background-color: lightblue;
}

.brown {
    background-color: brown;
}

/* Interactive parts triggered by js */

.endGame {
    background-color: red;
}

.chosen {
    background-color: grey;
}