body {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2.5px;
    background-image: url('../img/bikini-bottom.jpeg');
}

#title {
    font-size: 4rem;
    margin: 5%;
}

.gameText {
    font-size: 3.5rem;
    margin: 5%;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 30px;
    display: inline-block;
    height: 250px;
    width: 250px;
    border: 6px solid black;
    border-radius: 60%;
}

/* Colours */
.pink {
    background-color: #ed7f8c;
}

.yellow {
    background-color: #feff35;
}

.turquoise {
    background-color: #d5ebf6;
}

.brown {
    background-color: #bb8b1f;
}

/* Interactive parts triggered by js */

.endGame {
    background-color: red;
}

.chosen {
    background-color: grey;
}